<%if(site.tags.length){%>
	<h3>Blog Tags</h3>
	<div id="blog-categories">
		<ul class="list-group">
			<% site.tags.each(function(tag){ %>
				<li class="list-group-item">
					<a href = <%= '/' + tag.path %> title=""><%=tag.name%></a> 
	            	<span class="badge"><%=tag.posts.length%></span>
	        	</li>
	 		<% }) %>
		</ul>
	</div>
<%}%>