<% var title = "Tags - " + post.tag %>

<section class="collection-head geopattern" data-pattern-id="<%= title %>" >
    <div class="container">
        <div class="collection-title">
            <h1 class="collection-header">
                <%=title%>
            </h1>
        </div>
    </div>
</section>