<section class="container">
    <div class="columns">
        <!--<%if((page.toc == undefined ? true:page.toc) == false){%> style="width:100%;" <%}%> -->
        <div class="column three-fourths">
            <div>
                <article class="article-content markdown-body">
                    <p>有朋自远方来，不亦乐乎！</p>
                    <br/>

                </article>

                <%if(theme.disqus_username){%>
                    <%- partial('_widget/disqus-comments',{
                        key: post.slug,
                        title: post.title,
                        url: config.url+url_for(post.path)
                    }) %>
                <%}%>
            </div>
        <!-- <div class="column one-fourth">
            <% if (page.toc == undefined ? true:page.toc) { %>
                <%page.toc=true%>
                <%- partial('_partial/post/toc') %>
            <% } %> -->
        </div>
    </div>
</section>
